body{
    background-color: #f4f1de  !important;
    margin-left: auto;
}
.Name{
    font-size: 3.8rem;
    padding-left: 3rem;
    color:  #3d405b;
    padding-top: 4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.social-icons{
    padding-left: 70rem;
    padding-right: 3rem;
    font-size: 1rem;
    size: 1rem;
}
.row{
    overflow: hidden;
}
.About{
    padding-left: 2rem;
    padding-right: 2rem;
    border-style: groove;
    border-radius: 5px;
    border-width: 3px;
    border-color: #81b29a;
    box-sizing: border-box;
    margin-left: 3rem;
    /* margin-right: 40rem; */
    text-align: center;
    margin-top: 1.5rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    display: inline-block;
}
.image{
    /* margin-left: 58rem; */
    display: inline-block;
    margin-right: 8rem;
    vertical-align: top;
}
.Skills{
    padding-left: 2rem;
    padding-right: 2rem;
    border-style: groove;
    border-radius: 5px;
    border-width: 3px;
    border-color: #81b29a;
    box-sizing: border-box;
    margin-left: 3rem;
    margin-right: 40rem;
    margin-top: 2.5rem;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.card-body{
    text-align: center;
    padding-top: 5rem;
    margin-block-start: 3rem;
}
.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        background-color: #e0dbba!important;
}